*.vrb
*.nav
*.snm
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.DS_Store
.DS_Store
Ignore/assignment_1_answers.pdf
Ignore/assignment_1_answers.Rmd
Ignore/assignment_2_answers.pdf
Ignore/assignment_2_answers.Rmd
